<div class="container padded business-edit">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="edit-box">
        <h2>
        <%= image_tag "main.png" %> Describe your business
        </h2>
        <%= simple_form_for @business do |f| %>
          <%= f.input :description, input_html: { :rows => 8 } %>
          <%= f.submit "Update Description", class: "btn btn-primary", style: "width: 100%" %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="edit-box">
        <h2>
          <%= image_tag "services.png" %> What do you offer?
        </h2>

        <div id="service-cards">
          <% current_business.services.each do |service|%>
            <%= render "services/service_card", service: service %>
          <% end %>
        </div>
        <%= simple_form_for [@business, @service], remote: true do |f| %>
        <h3>Add a new one</h3>
         <div class="row">
           <div class="col-xs-4">
           <p>name</p>
            <%= f.input :name, placeholder: "Full checkup", label: false %>
           </div>
           <div class="col-xs-3">
           <p>£</p>
             <%= f.input :price, placeholder: "150", label: false %>
           </div>
           <div class="col-xs-3">
           <p>minutes</p>
             <%= f.input :duration, placeholder: "60", label: false %>
           </div>
           <div class="col-xs-2">
             <%= f.submit "Add", class: "btn btn-primary"  %>
           </div>
         </div>
        </div>
     <% end %>
    </div>

    <div class="row">
      <div class="col-xs-12 design-section">
        <div class="edit-box">
          <h2>
            <%= image_tag "custom.png" %> Customize your page
          </h2>
          <%= simple_form_for @business do |f| %>
            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <h3><span class="number">1</span> Add logo</h3>
                <%= f.input :logo, label: false %>
                <%= f.input :logo_cache, as: :hidden %>
              </div>
              <div class="col-xs-12 col-sm-4">
                <h3><span class="number">2</span> Add banner photo</h3>
                <%= f.input :photo, label: false %>
                <%= f.input :photo_cache, as: :hidden %>
              </div>
              <div class="col-xs-12 col-sm-4">
                <h3><span class="number">3</span> Choose main color</h3>
               <%= f.input :background, as: :minicolors, label: false %>
              </div>
            </div>
            <%= f.submit "Apply changes", class: "btn btn-primary"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

