<div class="container">
  <div class="row">
   <div class="col-xs-12">
     <h2>Page Desciption</h2>
     <%= simple_form_for @business do |f| %>
       <%= f.input :description %>
       <%= f.submit %>
     <% end %>

     <h2>Services</h2>
     <%= simple_form_for [@business, @service] do |f| %>
       <div class="row">
         <div class="col-xs-12">
          <%= f.input :name %>
         </div>
       </div>
       <div class="row">
         <div class="col-xs-6">
           <%= f.input :price %>
         </div>
         <div class="col-xs-6">
           <%= f.input :duration %>
         </div>
       </div>
       <div class="row">
         <div class="col-xs-12">
           <%= f.submit %>
         </div>
       </div>
     <% end %>
   </div>
  </div>
</div>

