<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0, 0.6) 0%, rgba(0,0,0, 0.6) 50%), url('<%= @business.photo? ? image_path(@business.photo.url) : ""; %>');">


<div class="banner-content text-center">
  <h1><strong><%= @business.name %></strong></h1>
  <p><%= @business.address %></p>
  <%= link_to "Book an appointment" ,"#booking-form", class: "btn btn-primary", style: "background-color: #{@business.background}; border: none;" %>
</div>

</div>

<div class="container padded business-info">
  <h2 class="text-center" style="border-bottom: 3px solid <%= @business.background %>; padding-bottom: 10px; width: 30%; margin: 0 auto;">About us</h2>
  <div class="row" style="margin-top: 50px">
    <div class="col-xs-12 col-sm-5 col-sm-offset-1">
      <% if @business.description? %>
        <p><%= @business.description %></p>
      <% else %>
        <p>Write about <%=@business.name%> here.
          <%= link_to edit_business_path(@business) do %>
            <i class="fa fa-pencil"></i></p>
          <% end %>
        <% end %>
      </div>
    <div class="col-xs-12 col-sm-5">
      <div id="map" style="height: 400px;"></div>
    </div>
  </div>
</div>


<div class="wrapper" style="background-color: <%= @business.background %>">
  <div class="container business-services padded" style="margin-top: 50px;">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2>Our Services</h2>
        <div class="services">
          <% @services.each do |service| %>
           <div class="service">
            <h3><%= service.name%></h3>
            <p>£<%= service.price%></p>
            <p><i class="fa fa-clock-o"></i> <%= service.duration%> min</p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" id="booking-form" style="margin-top: 100px; margin-bottom: 50px;">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h3 class="text-center">Make a booking for <%= @business.name %></h3>
      <%= simple_form_for [@business, @booking] do |f| %>
        <%= f.input :email, required: true, placeholder: "your@name.com" %>
        <%= f.input :name, placeholder: "George D." %>
        <%= f.input :phone, placeholder: "+44 7802 969 373" %>
        <div class="row">
          <div class="col-xs-12">
             <%= f.input :booking_time, as: :string, placeholder: "Choose a time", input_html:  {id: "booking-datepicker"}%>
          </div>
        </div>
        <%= f.association :service, collection: @business.services,prompt: "Choose a service" %>
      <div class="form-actions">
        <%= f.submit "Book", class: "btn btn-primary", style: "background-color: #{@business.background}; border: none; width: 100%; padding: 20px;"  %>
      </div>
      <% end %>
    </div>
  </div>
</div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map'}, provider: {styles: [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"<%= @business.background%>"},{"visibility":"on"}]}]} }, function() {
        markers = handler.addMarkers([
            {
              "lat": <%= @business.latitude %>,
              "lng": <%= @business.longitude %>
            }
        ]);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(12);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(12);
        }
      });

      $('a[href*="#"]:not([href="#"])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html, body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
          }
        }

      });
    });
  <% end %>
<% end %>
