<div class="container" style="padding-top: 200px; margin-bottom: 330px;">
<% booking = @booking.booking_time %>
<h2>Booking on <%= booking.strftime("%B %d") %> at <%= booking.strftime("%H:%M") %></h2>


  <li><%= @booking.email %></li>
  <li>£<%= @service.price %></li>
  <li><%= @booking.status %></li>
</div>
