<ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
  <li>
    <%= link_to business_url(current_business) do %>
      <i class="fa fa-home"></i> Homepage
    <% end %>
  </li>
  <li>
    <%= link_to edit_business_registration_path do %>
      <i class="fa fa-user"></i> Edit Profile
    <% end %>
  </li>
    <li>
    <%= link_to edit_business_path(current_business) do %>
      <i class="fa fa-pencil"></i> Edit Page
    <% end %>
  </li>
  <li>
    <%= link_to business_bookings_path(current_business) do %>
      <i class="fa fa-bell"></i> View Bookings
    <% end %>
  <li>
    <%= link_to destroy_business_session_path, method: :delete do %>
      <i class="fa fa-sign-out"></i> Log Out
    <% end %>
  </li>
</ul>
