<div class="navbar-wagon">
  <!-- Logo -->
  <% if business_signed_in? %>
  <%= link_to business_path(current_business), class: "navbar-wagon-brand" do %>
    <%= image_tag "djinn2.png" %>
  <% end %>
  <% else %>
    <%= link_to root_path, class: "navbar-wagon-brand" do %>
      <%= image_tag "djinn2.png" %>
    <% end %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">

    <!-- Search form -->
    <!--<form action="" class="navbar-wagon-search">
      <input type="text" class="navbar-wagon-search-input" placeholder="Search something">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form>-->

    <% if business_signed_in? %>

      <!-- Notification -->
      <% link_to "#", class: "navbar-wagon-item navbar-wagon-link" do %>
        <div class="badge-container">
          <i class="fa fa-envelope-o"></i>
          <div class="badge badge-blue">3</div>
        </div>
      <% end %>

      <!-- Profile picture and dropdown -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag "http://placehold.it/30x30", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        <%= render 'shared/business_dropdown' %>
        </div>
      </div>

    <% else %>

      <!-- Login text link -->
      <div class="navbar-login">
      <%= link_to "Sign in", new_business_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
      </div>
    <% end %>

    <!-- Button (call-to-action) -->
    <% link_to t(".top_call_to_action", default: "Post stuff"), "#", class: "navbar-wagon-item navbar-wagon-button btn" %>
  </div>


</div>
