
<h3 class="text-center">Your booking has been created!</h3>
<% stripe_accept = false %>
<% if stripe_accept == false %>
<p><%= @business.name %> is not currently accepting online payment.</p>
<p>Please pay <%= @business.name %> on site.</p>
<% else %>
<p><%= @business.name %> is accepting online payment.</p>
<p>You may pay <%= @business.name %> on site or use the button below to pay through Stripe.</p>

<%= form_tag booking_payments_path(@booking) do %>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-name="Booking"
    data-email="<%= @booking.email %>"
    data-description="Booking:<%= @booking.id %>"
    data-amount="<%= @booking.price_pennies %>"
    data-currency="<%= @booking.price.currency %>">
  </script>
<% end %>
<% end %>
