
<h3 class="text-center">Your booking has been created!</h3>
<p><%= @business.name %> is accepting online payment.</p>
<p>You can pay at <%= @business.name %> if you wish, or click on the button below to pay now.</p>

<%= form_tag booking_payments_path(@booking) do %>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-name="Booking"
    data-email="<%= @booking.email %>"
    data-description="Booking:<%= @booking.id %>"
    data-amount="<%= @booking.price_pennies %>"
    data-currency="<%= @booking.price.currency %>">
  </script>
<% end %>
