<meta name="google-site-verification" content="nzG87ph07G7kWh87Ry-L7f8ReyPsWuXsDt40jg-e-5w" />

<% number = rand(6) %>

<div class="banner banner-home" style="background-image: linear-gradient(-225deg, rgba(0,0,0, 0.6) 0%, rgba(0,0,0, 0.6) 50%), url('<%= image_path "randomimage/#{number}.jpg" %>');">
 <div class="banner-content">

    <h1>Do you own a business?</h1>
    <p>Create your website and handle bookings in 10 minutes.</p>
    <%= link_to "Create your website" ,new_business_registration_path, class: "btn btn-primary" %>
  </div>
</div>

<%= content_for :after_js do %>
<script>
  $(document).ready(function(){
    setTimeout(function(){
      $('.banner').css('background-image', "linear-gradient(-225deg, rgba(0,0,0, 0.6) 0%, rgba(0,0,0, 0.6) 50%), url('<%= image_path "randomimage/#{(number + 1) % 6}.jpg" %>')");
    }, 5000);

    setTimeout(function(){
      $('.banner').css('background-image', "linear-gradient(-225deg, rgba(0,0,0, 0.6) 0%, rgba(0,0,0, 0.6) 50%), url('<%= image_path "randomimage/#{(number + 2) % 6}.jpg" %>')");
    }, 10000);

    setTimeout(function(){
      $('.banner').css('background-image', "linear-gradient(-225deg, rgba(0,0,0, 0.6) 0%, rgba(0,0,0, 0.6) 50%), url('<%= image_path "randomimage/#{(number + 3) % 6}.jpg" %>')");
    }, 15000);

    setTimeout(function(){
      $('.banner').css('background-image', "linear-gradient(-225deg, rgba(0,0,0, 0.6) 0%, rgba(0,0,0, 0.6) 50%), url('<%= image_path "randomimage/#{(number + 4) % 6}.jpg" %>')");
    }, 20000);

    setTimeout(function(){
      $('.banner').css('background-image', "linear-gradient(-225deg, rgba(0,0,0, 0.6) 0%, rgba(0,0,0, 0.6) 50%), url('<%= image_path "randomimage/#{(number + 5) % 6}.jpg" %>')");
    }, 25000);
  });
</script>
<% end %>
