<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-88578916-1', 'auto');
  ga('send', 'pageview');

</script>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">

      <div class="form-container">
        <h2 class="text-center">Sign up</h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :address, required: true, placeholder: "22 Elder Street, London" %>
            <%= f.input :name, placeholder: "Shoreditch Dentist" %>
            <%= f.input :url, required: true, placeholder: "shoreditch-dentist"  %>
            <!-- wrapper: :prepend_append -->
            <%= f.input :email, required: true, autofocus: true, placeholder: "your@email.com" %>
            <%= f.input :password, required: true, placeholder: "•••••••", hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
            <%= f.input :password_confirmation, placeholder: "•••••••", required: true %>
            <%= f.input :photo %>
            <%= f.input :photo_cache, as: :hidden %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Sign up", class: "btn btn-primary", style: "width: 100%" %>
          </div>
        <% end %>

        <%= render "businesses/shared/links" %>
      </div>

   </div>
  </div>
</div>
